/**
 * BLOCK: Buttons
 */
.btn {
  padding: 0.8rem 1rem;
  border: 1px $brand_white solid;

  font-weight: bold;
  color: $brand_white;
  text-transform: uppercase;
}

.btn:hover {
  color: $brand_blue;
  background: $brand_white;
}

/**
 * MODIFIER: Button Nav
 */
.btn--nav {
  border-color: transparent;
  background: $brand_blue;
}

/**
 * MODIFIER: Button Action
 */
.btn--action {
  border-color: transparent;
  background: $brand_blue;
}
