/**
 * BLOCK: Top Naviation
 */

.top-nav {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: $navbar_height;
  padding: 0.6rem;

  overflow: hidden;

  background: $brand_black;

  text-transform: uppercase;
  color: $brand_white;
}

.top-nav__logo {
  margin: 0;
  max-width: 7rem;

  font-size: 1.2rem;
  text-align: center;
}

.top-nav__items {
  display: flex;
  flex-grow: 1;

  margin: 0;
  padding: 0;

  list-style: none;
}

.top-nav__item {
  flex-grow: 1;
  text-align: center;
}

.top-nav__item a {
  color: $brand_white;

  padding: 0.2rem;
}

/**
 * MODIFIER: Active Nav Link
 */
.top-nav__item:hover a,
.top-nav__item--active a {
  border-top: $brand_border;
}
